<div *ngIf="isDetailed; else simpleView">
  <div *ngIf="contentArtist" class="border-gray-600 border-2 m-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
       cdkDrag>
    <a href="#">
      <!--    artist info-->
      <div class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white  group">
        <a href="{{contentArtist.externalUrl}}">
          <img [src]="contentArtist.images[0].url" width="200" height="200" alt=""
               class="w-14 h-14 rounded-full"></a>
        <span class="ms-3">{{ contentArtist.name }}</span>
      </div>
      <!--    genres-->
<!--      <div class="flex flex-nowrap">-->
<!--        <div *ngFor="let genre of contentArtist.genres.slice(0, 2); let isLast = last" class="ms-2 text-gray-400">-->
<!--          <p> {{ genre }} <span *ngIf="!isLast"> &#9679; &nbsp;</span></p>-->
<!--        </div>-->
<!--      </div>-->
    </a>
  </div>
</div>

<ng-template #simpleView>
  <div *ngIf="contentArtist" class="items-center p-2">
<!--    makes sure the default artist image doesnt show-->
    <div *ngIf="contentArtist.images[0].url != ''">
      <img [src]="contentArtist.images[0].url" width="200" height="200" alt="" class="w-20 h-20 rounded-full">
    </div>
  </div>
</ng-template>





