*::-webkit-scrollbar {
  display: none;
}
.blur {
  filter: blur(3px);
}

.artist-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Ensures overflow if more than 5 artists */
  border: 2px dashed gray;
  border-radius: 8px;
  padding: 2em;
  height: 12em;
}

.for-you-btn:hover{
  box-shadow: 0 0 20px #7e5bef;
  transition: box-shadow 0.2s ease-in-out;
}
.saved-btn:hover{
  box-shadow: 0 0 20px #1DB954;
  transition: box-shadow 0.2s ease-in-out;
}


