*::-webkit-scrollbar {
  display: none;
}
.blur {
  filter: blur(3px);
}

.artist-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Ensures overflow if more than 5 artists */
  border: 2px dashed gray;
  border-radius: 8px;
  padding: 2em;
  height: 12em;
}

