.container{
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 5vh; /* Adjust this if you want to control the height */
  max-width: 20%; /* Set your desired maximum width */
  margin: 0 auto; /* Center horizontally */
  padding: 5%;
}

.drawer-container{
  max-width: 20%;
}

button{
  margin: .3em;
  padding: 1em;
}
