<div class="bg-gray-900 flex flex-col align-middle justify-center items-center h-screen">
  <h2 class="text-white text-2xl">Sign in with your spotify account to get personalized recommendations</h2>
  <button (click)="authenticate()"
          class="flex text-white bg-green-500 font-medium rounded-full text-xl px-5 py-2.5 text-center me-2 mb-2 spotify-btn">
    Sign In With Spotify &#160;<img
    src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_White.png" alt=""
    class="w-6 h-6">
  </button>
</div>

