<div class="bg-gray-800 flex align-middle justify-center items-center h-screen">
  <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_White.png" alt="" class="w-14 h-14">
  <button type="button" (click)="authenticate()" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2">
  Sign In With Spotify</button>
</div>

