.ellipsis {
  white-space: nowrap;        /* Prevents text from wrapping */
  overflow: hidden;           /* Hides overflow content */
  text-overflow: ellipsis;    /* Adds ellipsis (...) */
}

img{
  font-size: 0;
}

.album-container {
  width: 100%; /* Ensure it takes full width of grid cell */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img:hover{
  box-shadow: 0 0 20px rgb(255, 255, 255);
  transition: box-shadow 0.2s ease-in-out;
}
