.ellipsis {
  white-space: nowrap;        /* Prevents text from wrapping */
  overflow: hidden;           /* Hides overflow content */
  text-overflow: ellipsis;    /* Adds ellipsis (...) */
}

img{
  font-size: 0;
}

.album-container {
  width: 100%; /* Ensure it takes full width of grid cell */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

